body {
	line-height: 30px;
	background-image: url();
	bacground-size: cover;
	background-position: center;
	color: black;
	background-color: black;
	width: 100%;
	padding: 0px;
	margin: auto 0;
	overflow: auto;
}

h1 {

}

h1, h3, .panel-title, .panel-body {
	color: ;
}

th, h2 {
	/*color: lightblue !important;*/
}

tr: hover {
	background: #000 !important;
}

tr: hover td {
	background: rgba(105, 105, 105, .2) !important;
	color: yellow !important;
}

td {
	font-size: 13px !important;
	font-weight: 80 !important;
}

label {
	font-size: 14px;
}

button {
	border-color: paleturquoise !important;
}

.container {
	width: 100%;
	max-width: 980px !important;
	padding: 0px !important;
}

.jumbotron {
	width: 100%;

}

.panel-primary, input {
	width: 100%;
	margin-left: 100px;
}

.panel-primary {
	min-height: 500px;
}

.panel-primary > .panel-heading {
	font-size: 20px;
}

.panel-title, th, h2 {

}

.panel-body, .panel-heading {
	padding: 7px !important;
}

.milTime {
	font-size: 11px !important;
	line-height: 0px !important;
}

#freqDisplay, #nextDisplay {
	text-align: center !important;
}









